.jt-content {
    position:absolute;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s linear;
    /*display:none; */
}
.jt-content.jt-content-active {
    /*display:block;*/
    visibility:visible;
    position:relative;
    opacity:1;
    transition:visibility 0s, opacity 0.5s linear;
}
.jt-button {
    cursor:pointer;
}
